.row-header{
    margin: 0px auto;
    padding: 0px auto;
}
.row-content{
    margin: 0px auto;
    padding: 50px 0px;
    border-bottom: 2px;
}
.footer{
    background-color: rgb(214, 182, 236);
    margin: 0px auto;
    padding: 20px 0px;
}
.jumbotron{
    background-color: rgb(128, 30, 194);
    font-family: 'Times New Roman', Times, serif;
    color: beige;
}
.adress{
    font-size: 80%;
    color: beige;
}
.loki{
    background-color: cadetblue;
}
.hulk{
   margin-top: 20px; 
}
body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: rgb(115, 196, 139);
}